.Range-Number {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
    width: max-content;
    font-size: 13px;
    line-height: 16px;
    color: #828282;
}

.FormLayout__row-top {
    margin-bottom: 14px;
    margin-left: 15px;
    font-size: 14px;
    line-height: 17px;
    font-weight: 500;
    color: #535353 !important;
}

.Slider__dragger::before {
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background: #528bcc;
    background: var(--accent);
    border-radius: 2px;
    content: '';
    background: #FD5485;;
    height: 10px;
}

.Epic--ios  .Slider__thumb {
    box-shadow: 2px 0px 2px rgba(0, 0, 0, 0.1);
    transform: translateY(25%);
    width: 20px;
    height: 20px;
    border: 1px solid #FD5485;
}

.Slider--android .Slider__thumb::before {
    border-radius: 50%;
    box-shadow: 2px 0px 2px rgba(0, 0, 0, 0.1);
}

.Slider__thumb {
    transform: translateY(8%);
}

.Epic--ios .Slider__thumb--end {
    box-shadow: -2px 0px 2px rgba(0, 0, 0, 0.1);
}

.Slider__thumb::before {
    width: 20px;
    height: 20px;
    top: -8.5px;
    border: 1px solid #FD5485;
    border-radius: 50%;
    box-shadow: 2px 0px 2px rgba(0, 0, 0, 0.1);
}

.Slider--android .Slider__thumb--end.Slider__thumb::before {
    box-shadow: -2px 0px 2px rgba(0, 0, 0, 0.1);
}

.Slider::before {
    height: 10px;
    border-radius: 100px;
}
